.summary-open {
    list-style: none;
    padding-left: 1em;
  }
  
  .summary-open:before {
    content: "펼치기 - ";
    font-size: 1em;
    color: skyblue;
    margin-right: 0.5em;
    cursor: pointer;
  }
  
  .summary-open:hover:before {
    color: blue;
  }
  

.summary-close {
  list-style: none;
  padding-left: 1em;
}
  
  .summary-close:before {
    content: "접기 - ";
    font-size: 1em;
    color: blue;
    margin-right: 0.5em;
    cursor: pointer;
  }
  
  .summary-close:hover:before {
    color: skyblue;
  }

/* margin */

.ml-20 {
  margin-left: 20px;
}

.mr-05 {
  margin-right: 5px;
}

.mb-20 {
  margin-bottom: 20px;
}

  